@import '~bootstrap/scss/bootstrap';

body {
    font-size: 14px;

    img {
        max-width: 100%;
    }

    header {
        .header_top {
            background-color: #0282f9;

            a {
                color: #ffffff;
                font-size: 12px;
                font-weight: 500;
                text-decoration: none;
            }
        }

        .header_bottom {
            img {
                width: 80px;
                aspect-ratio: 1/1;
            }

            a {
                height: 100%;
                color: #303131;
                font-weight: 500;
                text-decoration: none;
                display: flex;
                align-items: center;

                i {
                    color: #0282f9;
                    font-size: 12px;
                }
            }

            .search {
                font-weight: 500;

                div {
                    width: 120px;
                    border-bottom: 2px solid #0282f9;
                }
            }

            .active {
                box-shadow: 0px 4px 0px 0px #0282f9;
            }
        }
    }

    main {
        .jumbotron {
            img {
                height: 24rem;
                width: 100%;
                object-fit: cover;
                object-position: top;
            }
        }

        .current_series {
            background-color: #1d1c1d;

            .card {
                background-color: #1d1c1d;
                color: #ffffff;

                img {
                    height: 14rem;
                    width: 100%;
                    object-fit: cover;
                    object-position: top;
                }
            }
        }

        .buy_comics {
            background-color: #0282f9;
            color: #ffffff;

            img {
                height: 60px;
                max-width: 60px;
            }
        }
    }

    footer {
        .footer_top {
            color: #858585;
            max-height: 400px;
            background-image: url('/resources/img/footer-bg.jpg');
            background-size: cover;

            h5 {
                color: #ffffff;
            }

            ul {
                list-style-type: none;
                padding: 0;
            }

            a {
                color: #858585;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            .dc_logo_bg {
                background-image: url('/resources/img/dc-logo-bg.png');
                background-size: cover;
                background-position: center;


            }

            span {
                color: #0282f9;
            }
        }

        .footer_bottom {
            background-color: #303131;
            color: #0282f9;
            font-size: 18px;
            font-weight: 500;

            button {
                background-color: transparent;
                color: #ffffff;
                font-size: 16px;
                font-weight: 500;
                border: 2px solid #0282f9;
            }

            img {
                cursor: pointer;
            }
        }
    }
}